#main {
    display: inline-block;
    width: 65%;
}
.sidebar {
    display: inline-block;
    float:right;
}
.home {
    text-align:center;
    background-image: url(/res/sm-background.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info {
    width:500px;
    height:100px;
    display:inline-block;
    margin-left: 100px;
}

.navbar {
    display: inline;
    text-align: center;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

