.home {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-image: url(https://jessicaroots.com/wp-content/uploads/et_temp/portfolio-background-header-53082_1080x675.jpg);
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }
.navbar {
    text-align: center;
}
.row {
        background: rgba(43, 42, 42, 0.521);
        border-style: solid;
        border-color: white;
        margin: 5%;
    }
.row p {
    color: aliceblue;
}
.row h2 {
    color: cadetblue;
}
            
