.home {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-image: url(https://wallpaperbat.com/img/144458-web-developer-wallpaper-1920x1080-wallpaper.jpg);
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
.navbar {
    text-align: center;
}
#tab {
        background: rgba(22, 22, 22, 0.705);
        border-style: solid;
        border-color: white;
        margin: 5%;
    }
.row p {
    color: aliceblue;
}
.row h2, h3 {
    color: rgba(53, 138, 236, 0.925);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    background: rgba(22, 22, 22, 0.705);
  }
  .grid-item {
    border: 2px solid white;
    padding: 20px;
    font-size: 18px;
    text-align: left;
    
  }
  .grid-item li {
    color: aliceblue;
    
  }
  .grid-item h3 {
    color: aliceblue;
    color: rgba(53, 138, 236, 0.925);
  }
  .home h1 {
    color:white;
  }
 .containe-fluid {
  background-color: rgba(22, 22, 22, 0.705);
 }
 .containe-fluid h3 {
  color: white;
 }
.form-label {
  color: white;
 }
 footer {
  text-align: center;
 }
 footer h3 {
  color: white;
 }
 footer a {
  color:white;
 }


            
